.title{
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F3B391;
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
}
body{
    background-color: #FEFADC;        
}

.pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 256px;
    width: 256px;
    margin-top: 25px;
    border-radius: 50%;
}

.thing{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;    
    color: #F6D4BA;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

.icon{
    text-align: center;
    display: inline-block;
    margin-left: 50%;
    font-size: 20px;
    color: #F6D4BA;
}



.icon:hover{
    color:#F3B391 !important;
}

